# Dependency directories
node_modules/

# Firebase
firebase-certificate.json

#local env file
.env

# Compiled files
dist
bundles

# Typescript files
tsconfig.tsbuildinfo

# test coverage
test/reports

#  Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# .tfvars files
*.tfvarsr

# .DS_Store
.DS_Store

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
.vscode/*
lib
